NODE_ENV=development
PORT=5000
DATABASE_URL=postgres://user:password@localhost:5432/task_manager
SESSION_SECRET=your_session_secret_here
SESSION_KEY=a-secret-with-minimum-length-of-32
ROLLBAR_TOKEN=your_rollbar_token_here
